<section class="contactSection">
    <h2 class="contactSection__title">Contacto</h2>
    <p class="contactSection__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque soluta
      et quod magnam modi corporis enim nulla alias eligendi perferendis ea
      unde asperiores minus, temporibus illo maxime, odio beatae at?
    </p>
    <p class="contactSection__info">Todos los campos marcados con <span class="contactSection__info--span">*</span> son obligatorios</p>
  </section>