<section class="main_3_about_us" id="Quienes_Somos">

    <h2 class="main_3_title">Quiénes somos</h2>

    <article class="main_3_article member_1">

        <img src="./assets/images/AnaWW.jpg" alt="" class="member_img">
        <section class="member_1_info">
            <!--He añadido estas nuevas secciones para poder organizar el contenido en las versiones tablet y desktop más fácil-->
            <h4 class="member_title">Ana de la Jara</h4>
            <p>Después de años como agente de viajes, decidí dar un cambio radical y estudiar para ser
                futura
                programadora, si css me lo permite. </p>
            <ul class="main_3_ul_rrss">
                <li class="main_3_item_rrss"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="main_3_item_rrss separador_punto"><a href="#"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="main_3_item_rrss separador_punto"><a href="#"><i
                            class="fab fa-github-alt"></i></a>
                </li>
                <li class="main_3_item_rrss separador_punto"><a href="#"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </section>
    </article>

    <article class="main_3_article member_2">
        <img src="./assets/images/mariana.jpg" alt="" class="member_img">
        <section class="member_2_info">
            <!--He añadido estas nuevas secciones para poder organizar el contenido en las versiones tablet y desktop más fácil-->
            <h4 class="member_title">Mariana Viana</h4>
            <p>Un nuevo pais, un nuevo comienzo y que es mejor que reinventarse, de cuentas y números a
                código y
                acertijos.</p>
            <ul class="main_3_ul_rrss">
                <li class="main_3_item_rrss"><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="main_3_item_rrss separador_punto"><a href="#"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="main_3_item_rrss separador_punto"><a href="#"><i
                            class="fab fa-github-alt"></i></a>
                </li>
                <li class="main_3_item_rrss separador_punto"><a href="#"><i class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </section>
    </article>

    <article class="main_3_article member_3">
        <img src="./assets/images/sandraM1.jpg" alt="" class="member_img">
        <section class="member_3_info">
            <!--He añadido estas nuevas secciones para poder organizar el contenido en las versiones tablet y desktop más fácil-->
            <h4 class="member_title">Sandra Gutiérrez</h4>
            <p>Pedagoga de profesión pero con el html en las venas. Tras años luchando en las trincheras de
                un
                sistema educativo moribuno, decidí cambiar las adaptaciones curriculares por una misión
                trascendental: encontrar el merge perfecto.</p>
            <ul class="main_3_ul_rrss">
                <li class="main_3_item_rrss"><a href="https://twitter.com/SandSan12"><i
                            class="fab fa-twitter"></i></a></li>
                <li class="main_3_item_rrss separador_punto"><a
                        href="https://www.linkedin.com/in/sandraguti%C3%A9rrez/"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="main_3_item_rrss separador_punto"><a
                        href="https://github.com/Sandra-Gutierrez"><i class="fab fa-github-alt"></i></a>
                </li>
                <li class="main_3_item_rrss separador_punto"><a href="mailto:sandsan12@gmail.com"><i
                            class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </section>
    </article>

    <article class="main_3_article member_4">
        <img src="./assets/images/profile-sara.jpg" alt="Foto de Sara" class="member_img">
        <section class="member_4_info">
            <!--He añadido estas nuevas secciones para poder organizar el contenido en las versiones tablet y desktop más fácil-->
            <h4 class="member_title">Sara Palomo</h4>
            <p> Doctora en ecología especializada en agroecología empezando una nueva y emocionante etapa.
                Si
                necesitas una programadora front-end junior que además sepa sobre plagas del tomate, soy tu
                heroína. ¡De los huertos a los DevTools! </p>
            <ul class="main_3_ul_rrss">
                <li class="main_3_item_rrss"><a href="https://twitter.com/sarapalcam"><i
                            class="fab fa-twitter"></i></a></li>
                <li class="main_3_item_rrss"><a
                        href="https://www.linkedin.com/in/sara-palomo-campesino-4275b2117/" class="separador_punto"><i
                            class="fab fa-linkedin-in"></i></a>
                </li>
                <li class="main_3_item_rrss separador_punto"><a href="https://github.com/sarapalcam"><i
                            class="fab fa-github-alt"></i></a>
                </li>
                <li class="main_3_item_rrss separador_punto"><a href="mailto:sara.pal.cam@gmail.com"><i
                            class="fas fa-envelope"></i></a>
                </li>
            </ul>
        </section>
    </article>

</section>