<section class="section-team" id="Equipo">
  <h2 class="section-team-title">Equipo</h2>
  <p class="section-team-text team-text-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis ab
    aperiam nisi ipsa at aliquid iusto recusandae, reprehenderit quaerat cumque,
    facilis dolores soluta eos rerum. Aliquid libero commodi modi nemo?
  </p>
  <p class="section-team-text section-team-text-2">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam facilis
    nesciunt accusamus laborum ea repellendus eligendi, eius harum incidunt, eum
    magnam. Qui possimus itaque, dignissimos incidunt aliquid veritatis nulla
    praesentium!
  </p>
</section>

<section class="section-str-weak">
  <div class="section-str-weak-square"></div>
  <section class="section-force">
    <section class="strengths">
      <h3 class="str-weak-title strengths-title">Fortalezas</h3>
      <p class="str-weak-text strengths-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quos,
        vitae error explicabo quae nostrum consectetur est ad? Esse expedita
        quibusdam incidunt ea ut illum placeat ipsam beatae molestias maiores!
      </p>
    </section>
    <section class="weakness">
      <h3 class="str-weak-title weakness-title">Debilidades</h3>
      <p class="str-weak-text weakness-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
        suscipit voluptas amet. Reiciendis tempore, voluptatibus necessitatibus
        expedita error nulla alias consectetur omnis at nihil eaque sint, illum
        eos assumenda doloremque.
      </p>
    </section>
  </section>
</section>
